<header class="header">
  <nav class="navbar">
    <div class="navbar-brand">
      <div class="navbar-item">
        <a class=" navbar-logo" href="https://documentation.suse.com/"><img class="logo"
            src="{{uiRootPath}}/img/logo.svg" /></a>
      </div>
      <button class="navbar-burger" data-target="topbar-nav">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
    <div id="topbar-nav" class="navbar-menu">
      <div class="navbar-end">
        <div class="navbar-item has-dropdown is-hoverable">
          <div class="navbar-link">
            <img src="{{uiRootPath}}/img/github_logo.svg" class="langIcon Resurces" alt="Resources" title="Resources">
          </div>
          <div class="navbar-dropdown">
            <a class="navbar-item" href="https://github.com/rancher/turtles"><i
                class="fab fa-github"></i>&nbsp;Rancher Turtles&nbsp;<i class="fas fa-external-link-alt"></i></a>
            <a class="navbar-item" href="https://github.com/rancher/turtles-docs"><i
                class="fab fa-github"></i>&nbsp;Rancher Turtles docs&nbsp;<i class="fas fa-external-link-alt"></i></a>
          </div>
        </div>
        <div class="navbar-item has-dropdown is-hoverable">
          <div class="navbar-link">More from SUSE</div>
          <div class="navbar-dropdown">
            <a class="navbar-item" href="https://www.rancher.com" target="_blank"><img src="{{uiRootPath}}/img/icon-rancher-mask.png" width="51" height="24" alt="Rancher by SUSE"
              title="SUSE Rancher">&nbsp;Rancher&nbsp;<i class="fas fa-external-link-alt"></i></a>
            <hr />
            <a class="navbar-item" href="https://fleet.rancher.io" target="_blank"><img src="{{uiRootPath}}/img/icon-fleet-mask.png" width="29" height="24" alt="Fleet"
              title="Fleet">&nbsp;Fleet&nbsp;<i class="fas fa-external-link-alt"></i></a>
            <a class="navbar-item" href="https://www.kubewarden.io" target="_blank"><img src="{{uiRootPath}}/img/icon-kubewarden-mask.png" width="29" height="24" alt="Kubewarden"
              title="Kubewarden">&nbsp;Kubewarden&nbsp;<i class="fas fa-external-link-alt"></i></a>
            <a class="navbar-item" href="https://harvesterhci.io" target="_blank"><img src="{{uiRootPath}}/img/icon-harvester-mask.png" width="29" height="24" alt="Harvester"
              title="Harvester">&nbsp;Harvester&nbsp;<i class="fas fa-external-link-alt"></i></a>
            <hr />
            <a class="navbar-item" href="https://opensource.suse.com" target="_blank"><img src="{{uiRootPath}}/img/icon-suse-mask.png" width="41" height="24" alt="OpenSource at SUSE"
              title="OpenSource @ SUSE">&nbsp;More projects...&nbsp;<i class="fas fa-external-link-alt"></i></a>
          </div>
        </div>
        {{#if env.SITE_SEARCH_PROVIDER}}
        <div class="navbar-item search hide-for-print">
          <div id="search-field" class="field">
            <input id="search-input" type="text" placeholder="Search the docs" {{#if page.home}} autofocus{{/if}}>
          </div>
        </div>
        {{/if}}
      </div>
    </div>
  </nav>
</header>